.finishTimePopup{
    color: black;
    text-align: left;
    padding: 0.2rem 0px;
    font-size: 0.75rem;
}

.relativePos{
    position: relative;
}

.greenText {
    color: green;
    font-weight: 800;
    font-size: 0.85rem;
}

.redText {
    color: firebrick;
}