:root {
    --walletBlur: 0px;
}

.primary-caption.secondary.d-block{
    filter: blur(var(--walletBlur));
    transition: filter 0.4s linear;
}

.primary-caption.secondary.d-block:hover{
    filter: blur(0px);
}

.highlightRaceRow {
    background: rgba(119, 146, 255, 0.08);
}

.highlightRaceRow .event>div, .highlightRaceRow .distance>div {
    color: gold;
}